[2014-12-12 00:11] AnotherOneAckap opened #1 "Strange errors in trace log"
I'm trying to use this module, seems to work fine.
But I`m confused with messages in DBI trace log:
    !! ERROR: 2000 'Handle is not in asynchronous mode' (err#0)
and then
    !! ERROR: 2000 CLEARED by call to fetch method

Could you please explain to me, what happens? is this ok?

[2014-12-12 10:54] jhthorsen commented on #1
It doesn't look to good... Can you provide an example script/test which will provoke this error message?

[2014-12-15 08:14] AnotherOneAckap commented on #1
See [gist](https://gist.github.com/AnotherOneAckap/8dcd2a0d230ffa55deaf)

[2014-12-17 21:29] harry-bix opened #2 "missing $sth->finish"
Mojo::mysql::Database::_enqueue should call $sth->finish
This is mandatory if mysql_use_result option is used

eval { $sth->finish if $sth->{Active}; };

[2014-12-18 12:34] jhthorsen commented on #2
I need more information. Example code which fail or misbehave. Also, why would you need to put eval{} around the code? It doesn't make the code very robust.

[2014-12-18 12:35] jhthorsen commented on #1
I'm closing this as wontfix, since I was not able to figure out what this means. Let me know if it actually causes any problems.

[2014-12-18 12:58] harry-bix commented on #2
You can just append ?mysql_use_result=1 in TEST_ONLINE connection string. Unit tests will fail.

[2014-12-18 13:13] harry-bix commented on #2
When mysql_use_result is used and you need to interrupt transfer is to kill the connection from server side using another connection. Then finish of the killed connection will raise unnecessary error:
(in cleanup) DBD::mysql::st finish failed: Lost connection to MySQL server during query at lib/Mojo/mysql/Database.pm line 71.
That's why I used eval.

[2014-12-18 13:14] jhthorsen commented on #2
I'm not going to add any such code without tests. I simply don't understand the feature good enough to make this work on my own.

[2014-12-18 13:16] jhthorsen commented on #2
I might be able to figure this out myself, if you provide me some good examples and proper documentation. I looked at https://metacpan.org/pod/DBD::mysql#mysql_use_result but was not able to see where they mention `finish()`.

[2014-12-18 15:02] harry-bix commented on #2
The problem is described here:
http://dev.mysql.com/doc/refman/5.6/en/commands-out-of-sync.html
In DBD::mysql $sth->finish calls mysql_free_result()

[2014-12-18 15:24] harry-bix commented on #2
In DBD::mysql $sth->finish frees internal data structures associated with current result. When mysql_store_result is used (default behaviour) this data is cleaned up on next prepare, do, finish or DESTROY call on same handle. With mysql_use_result finish have to be called explicitly.
In both cases internal data will be kept in memory without need between _enqueue and next _dequeue.

dbd_st_finish

[2014-12-18 16:12] jhthorsen commented on #2
Then I don't understand why it should be called in _enqueue. Looks to me as if you need to do it manually after you have retrieved the results. Something like this:

[code]

I think the eval {} thing will make things a lot harder to debug when it goes wrong. One thing that I might think is a good idea to do something like this:

[code]

I'm still not sure. Provide tests and code, and I'm much more

[2014-12-18 16:27] harry-bix commented on #2
finish is not harmful regardless if mysql_use_result or mysql_store_result is used.
eval {} is not needed.
With mysql_use_result Mojo::mysql::Results::rows will always return 0. This is normal behaviour.

I will make some more experiments and then pull request with test code.

[2014-12-23 14:26] jhthorsen commented on #2
@harry-bix: Thanks a lot! I really appreciate it :+1:

[2015-01-02 11:01] jhthorsen commented on #2
Does this change have any similarities to kraih/mojo-pg@4ce74d17d4624cdda545c4c85f0b98ac77ed7ff8 ?

[2015-01-02 17:39] harry-bix commented on #2
No, this is entirely postgresql specific.

[2015-01-03 09:44] jhthorsen commented on #2
My question was not very specific... let me try to rephrase: The commit message from mojo-pg contains "_Improved performance for many different queries significantly_". Does `mysql_use_result` improve speed? I've tried to understand what it does from reading up on https://metacpan.org/pod/DBD::mysql#mysql_use_result, but I don't understand why you would not want to use this feature. When does it b

[2015-01-03 12:10] jhthorsen opened #4 "Improved Mojo::mysql::Migrations"
I think we need to clean up the Migrations module.

Could you have a look at the additional comments I added to #3 @cah ?

https://github.com/jhthorsen/mojo-mysql/pull/3/files

[2015-01-03 18:31] harry-bix commented on #2
mysql_store_result caches the whole resultset on server before starting to stream it to client.
mysql_use_result starts streaming resultset immediately. The problem with mysql_use_result blocking is actually locking. MySQL holds read lock on MYISAM tables in query until the result is transferred. That's why the default behaviour is mysql_store_result. This locking problem does not exists for INNOD

[2015-01-13 06:58] harry-bix commented on #2
I was working on a different approach but disabling statement cache as done in Mojo::Pg also solves this. #6

[2015-03-02 07:38] jhthorsen opened #8 "Remove EXPERIMENTAL from lib/Mojo/mysql.pm"
I think it's time we remove EXPERIMENTAL from this distribution. What do you think?

[2015-03-02 14:00] harry-bix commented on #8
I am working on replacing use of DBI and DBD::mysql with pure perl async implementation.
I am not sure if this should be a new version or new module.
I will make a Pull Request soon, let's decide then.

[2015-03-02 14:03] jhthorsen commented on #8
I think the API should be the same, but maybe it would be nice if you could choose backend: Either whatever-you're-making or DBD::mysql.

[2015-03-02 14:07] harry-bix commented on #8
API is the same (almost).
Incompatible change is $db->dbh and $result->sth are not available.

[2015-03-02 14:12] jhthorsen commented on #8
`dbh` should stay, but marked as unavailable (or something) when you use your backend. `sth` can probably be mocked, but adding a compatibility layer.

The reason why I think this is a good idea, is that it should be extremely easy to move from Mojo::Pg to Mojo::mysql, or the other way around.

[2015-03-02 14:43] harry-bix commented on #8
I agree, we should be as compatible as possible with Mojo::Pg

[2015-03-02 14:44] harry-bix commented on #8
The other backend is called Mojo::mysql::Connection
https://github.com/harry-bix/mojo-mysql/blob/no-dbi/lib/Mojo/mysql/Connection.pm

[2015-03-02 17:27] harry-bix commented on #8
#9 is created.
Still needs more tests and documentation.

[2015-03-04 05:45] s1037989 opened #10 "Unable to reuse results"
I don't know if this is intended behavior, but it seems weird to me.  I added this test to results.t.  The first 'is' test passes and the second generates an error.

{
  my $results = $db->query("select * from results_test");
  is $results->hashes->size, 4, 'right size';
  is $results->hashes->size, 4, 'right size';
}

ok 8 - right size
DBD::mysql::st fetchall_arrayref failed: fetch() without exec

[2015-03-04 05:52] s1037989 commented on #10
Ok, I see.  It is intended behavior.

From Mojo::mysql::Database::query:
Execute a blocking statement and return a Mojo::mysql::Results object _with the results_.

From Mojo::mysql::Results::hashes:
Fetch all rows ...

What I should have done is this:

{
my $results = $db->query("select \* from results_test")->hashes;
is $results->size, 4, 'right size';
is $results->size, 4, 'right size';
}

ok 8

[2015-03-04 05:52] #10 closed

[2015-03-19 10:21] jhthorsen commented on #8
I'm closing this because of the suggested changes in #9 and #12. (They most certainly make this dist experimental)

[2015-03-19 10:21] #8 closed

[2015-03-19 10:22] jhthorsen commented on #4
I'm closing this because of little interest.

[2015-03-19 10:22] #4 closed

[2015-03-19 10:23] jhthorsen commented on #2
What is the status of this issue now @harry-bix? Should we close it, because pull requests are replacing this issue?

[2015-03-19 14:34] harry-bix commented on #2
This should be closed.
#6 solved problem with **mysql_use_result**

[2015-03-19 16:15] #2 closed

[2015-04-01 13:28] AnotherOneAckap commented on #1
How do you think, is this related thing?
http://stackoverflow.com/questions/6721057/asynchronous-queries-with-mysql-perl-dbi

[2015-04-01 13:31] jhthorsen commented on #1
@harry-bix: I'm reopening and assigning it to you. You may close it again as wontfix, if you don't get it either.

[2015-04-01 14:44] harry-bix commented on #1
This is what exactly happens when the gist is executed.

[code]

The call to fetchrow_hashref activates error 2000.
This is becase DBD::mysql calls **mysql_async_ready** and **mysql_async_result** for each call to
**fetchrow_hashref** and **fetchall_hashref**.
It does not do the same check for **fetchrow_arrayref** and **fetchall_arrayref**.

This issue is not directed to the correct project.
If y

[2015-04-01 14:45] jhthorsen commented on #1
@harry-bix :+1: # Awesome!

[2015-04-04 13:59] AnotherOneAckap commented on #1
Thank you for detailed answer, I write to DBD::mysql bug tracker then

[2015-04-04 13:59] #1 closed

[2015-04-07 18:57] mbeijen commented on #1
Hi, I am one of the DBD::mysql maintainers and I have a hard time making a nice test case out of your issue (or: understanding your issue in the first place).

Please note in the snippet by @harry-bix above, I see `print $sth->fetchrow_hashref->{label};` but there should be `print $sth->fetchrow_hashref();` or maybe  `print $sth->fetchall_hashref('label');`

I created a test for DBD::mysql which i

[2015-04-07 21:44] harry-bix commented on #1
Hi, @mbeijen

You will see:

[code]

if you enable **DBI->trace(1)** in t/88async-selects.t
Obviously the error is not-fatal and all test pass.

In the example I've submitted 'label' is a column name. The error 2000 also appears only if trace is enabled and is also non-fatal.

Lines 858-869 in lib/DBD/mysql.pm seem to allow to call fetchrow_hashref or fetchall_hashref while the handle is in async

[2015-05-18 11:21] d33d opened #20 "MySQL server has gone away at Database.pm line 78."
Hi all,

I get this (well known) exception: DBD::mysql::st execute failed: MySQL server has gone away at -../Mojo/mysql/Database.pm line 78.

when i catch this exception i disconnect the handle to prevent it from getting cached again (as documentation said) and i submit my query again.

Anyway, is there a more efficient solution? Is there a feature in the module that help to prevent this issue? Th

[2015-05-19 09:36] jhthorsen commented on #20
Wild guess: I think you're storing $mysql->db for a long time, instead of making sure you get a fresh $db handle.

The reason why I'm guessing this is 1) I've only seen that error when working with a stale $dbh. 2) you're not describing when this happens and/or how you manage to reproduce the error message.

[2015-05-21 05:05] harry-bix commented on #20
You can see all the reasons for **MySQL server has gone away** error at https://dev.mysql.com/doc/refman/5.0/en/gone-away.html.
The most common reasons are: using a stale handle or connectivity problem.

When you catch this exception you don't have to explicitly disconnect the handle. Mojo::mysql will not cache it.

[2015-05-21 05:05] #20 closed

[2015-12-21 17:45] jberger opened #21 "Please include recent Mojo::Pg::Migrations sanity check"
Mojo::Pg has added some sanity checking before migrating. The bug that is fixed caused serious production problems when one host had an outdated schema file. The fix in Pg was [this commit](https://github.com/kraih/mojo-pg/commit/92bc312e725042b748950b9c61319d0256d0004a). Can you please port this commit in (and perhaps check for any other outdated changes from upstream).

[2016-01-13 11:10] jhthorsen commented on #21
@harry-bix: Are you doing anything with this? I can do it, unless you already have...

[2016-01-26 19:51] jberger opened #23 "Warning message during global destruction"
I see that there is already a PR for a probably similar issue (#22) but I am getting a different error message:

Manually I can suppress the warnings by changing line 82 from

    while (my $c = shift @{$self->{queue} || []}) { return $c if $c->[0]->ping }

to

    while (my $c = shift @{$self->{queue} || []}) { return $c if $c->[0] && $c->[0]->ping }

[2016-01-27 13:19] jhthorsen commented on #23
Thanks. I will have a look at this next week, unless @harry-bix beats me to it.

[2016-01-27 18:11] jhthorsen commented on #21
I'm taking this.

[2016-01-27 19:52] jhthorsen commented on #23
I don't get how you get into that situation: How come there's something doing `_dequeue()` on global destruction? From what I can see, only db() calls _dequeue(), which means that at some point your code is calling `$mysql->db` on global destruction..?

[2016-01-27 20:05] #21 closed

[2016-01-27 20:14] jhthorsen commented on #21
@jberger: Part of Mojo::mysql 0.13. Sorry for the long wait.

[2016-01-27 20:22] jberger commented on #23
I'm not terribly sure either. I'm taking over a codebase where it seems to happen quite regularly. I THINK it might be related to Minion::Backend::mysql.

[2016-04-12 06:37] jhthorsen commented on #23
I'm closing this because of inactivity. Please re-open if you have new information.

[2016-04-12 06:37] #23 closed

[2016-11-16 08:50] crlcu commented on #23
Hi @jhthorsen

Got in the same situation. Below is some debug from my log file:

[code]

Those debug messages were produced by changing:

[code]

to

[code]

Basically I'm having a `minion worker` running (`script/my_app minion worker`) and I have generate a list of 50 jobs.

My test job looks like this:

[code]

And this is how I've loaded up `minion`:

[code]

Looks like changing this line

[cod

[2016-11-16 14:59] jhthorsen commented on #23
Sorry. My answer is still the same: I don't want to add patchwork without knowing what is causing this. Maybe `Carp::Always` can give more information? Like where is this coming from?

What I like about your comment @crlcu, is that you have a minimal test case, which should make it easier to pin down the issue. I will re-open later when you have provided more information.

[2016-12-10 19:43] pushshift commented on #1
Has this been patched in DBD::mysql?  I'm getting this error as well.  Harry-bix -- great work on finding this esoteric situation.

[2016-12-12 20:47] mbeijen commented on #1
Ah! Thanks for reminding me. No, it has not yet been fixed, yes, pull requests are welcome!

https://github.com/perl5-dbi/DBD-mysql/

[2017-03-22 17:44] shadowcat-mst opened #29 "Set strict mode for compatibility with Mojo::Pg and to avoid data loss"
https://metacpan.org/pod/DBIx::Class::Storage::DBI::mysql#set_strict_mode hugely reduces mysql's tendency to eat data, and would make Mojo::mysql much more of a drop-in replacement than Mojo::Pg - otherwise the migration path is "switch to Mojo::mysql and add validation code before every INSERT/UPDATE/DELETE to work around mysql's lossy defaults".

At the very least it'd be nice to have it as an o

[2017-03-22 22:32] jhthorsen commented on #29
I threw together this:

[code]

Does that make sense?

[2017-03-22 22:35] jhthorsen commented on #29
I don't think I can turn it on by default, but I would like to add a warning, if `strict_mode()` has not been called. Could even make it into a constructor..?

[2017-03-23 21:47] shadowcat-mst commented on #29
On Wed, Mar 22, 2017 at 03:32:41PM -0700, Jan Henning Thorsen wrote:

Looks about right at a quick glance.

--
Matt S Trout - Shadowcat Systems - Perl consulting with a commit bit and a clue

http://shadowcat.co.uk/blog/matt-s-trout/   http://twitter.com/shadowcat_mst/

Email me now on mst (at) shadowcat.co.uk and let's chat about how our CPAN
commercial support, training and consultancy packages

[2017-03-25 07:23] #29 closed

[2017-03-25 07:25] jhthorsen commented on #29
Mojo::mysql 1.01 is on its way to CPAN.

Thanks for helping out @shadowcat-mst 👍

[2017-03-26 08:09] jhthorsen commented on #29
Would love to hear your feedback @shadowcat-mst or if you have changes to which command to run in the future. I decided to update the SYNOPSIS to use `strict_mode()` instead of `new()`.

[2017-11-27 10:42] jplindstrom opened #34 "Are domain sockets supported, as described in the POD?"
This is the POD:

      # Username, domain socket and database
      $mysql->from_string('mysql://batman@%2ftmp%2fmysql.sock/db4');

I try to use Mojo::mysql with Minion, using this dsn string:

    mysql://root@%2ftmp%2fN0ThIghu3o%2ftmp%2fmysql.sock/coordinator

But I get this error:

SQL error: DBI connect('dbname=coordinator;host=/tmp/N0ThIghu3o/tmp/mysql.sock','root',...) failed:
 Unknown MySQ

[2017-11-27 11:00] jhthorsen commented on #34
This looks like a bug, but there's a test for it: https://github.com/jhthorsen/mojo-mysql/blob/1544c9ed811852910861603e20680c3f4ccdf24f/t/connection.t#L39

From my understanding, this should be "mysql_socket" and not "host"...?

https://metacpan.org/pod/DBD::mysql#mysql_socket

[2018-02-27 18:34] jhthorsen commented on #34
@jplindstrom: Can you help me out testing if it will work with the change I suggested?

[2018-02-28 12:42] jplindstrom commented on #34
TL;DR: mysql_socket does work, but Mojo::URL parsing is broken with an empty password in the connect string.

Here's some code to test that it works to connect with a socket using Test::mysqld

[code]

Now, this doesn't work, because with Test::mysqld you get back user "root" and password "". And if you plug the empty password into Mojo::URL it doesn't parse out the username correctly (so that nee

[2018-03-01 12:46] jplindstrom commented on #34
@jhthorsen Was this what you had in mind?

[2018-03-08 20:03] jhthorsen commented on #34
I think master has a fix for sockets now. Can you try it out?

[code]

[2018-05-04 13:30] jplindstrom commented on #34
I ran the test code above with the 1.07 version. The socket syntax works!

[2018-05-04 13:30] #34 closed

[2018-08-11 20:50] srchulo opened #38 "Document what happens when a database isn't specified"
The documentation doesn't explain what happens when no specific database is declared and a connection is made. I'm doing a join across two databases, so I didn't specify. Some things that are not clear to me from this:

- Will connections still be cached? Will I get one connection per each database I ever query, kicking out connections for a previously used database?

- Would it be more efficient

[2018-08-12 21:18] jhthorsen commented on #38
I have no idea. Want to contribute? Are you sure this isn’t a DBD::mysql question?

[2018-08-12 21:21] srchulo commented on #38
I'd be happy to contribute...but I don't know the answer either :) I guess it might be a DBD::mysql question, but I thought you might have more insight for what Mojo::mysql is doing under the hood when it caches connections. I guess I don't really know if there's a difference when declaring a db to start in the dsn string vs declaring no db. I don't know if it creates new connections for each data

[2018-08-13 12:12] jhthorsen commented on #38
I don't see a usecase where I wouldn't specify a database. In case this is very confusing, I might simply change the API to requiring a database, or setting the database to "test" or something.

[2018-08-13 12:58] srchulo commented on #38
The reason I'm using it is because I need to join across to different databases. Although I agree it isn't normal, I think it is a valid use case.

[2018-08-13 13:20] jhthorsen commented on #38
Why can't you connect to one of the databases?

[2018-08-14 04:29] srchulo commented on #38
Thanks for the suggestion-- that worked! I didn't know you could connect to one database when you were going to then join with another one. I'll close this now.

[2018-08-14 04:29] #38 closed

[2018-09-21 10:57] yuriy-zhilovets2 opened #39 "Transactions between promises"
Transactions do not work if they are splitted between promises like this:

[code]

Apparently, queries from then-blocks execute on different connections.

I think that documentation must reflect this limitation.

[2018-09-21 12:14] jhthorsen commented on #39
I don't believe your statement is correct. There's nothing that changes the `dbh` attribute on the database object. Please provide a complete failure test.

[2018-09-24 11:30] volcanodev commented on #39
Hi, jhthorsen!
I wrote example, which is very similar to the case in a real project:

[code]

As you can see, I have specifically made a mistake in the table name (bazz instead of baz) and I expected a rollback of the transaction, but it didn't happen. After execution all tables are still alive and table 'bar' has all inserted rows.

[2018-09-24 11:37] jhthorsen commented on #39
I don't see how your example is valid, since every call to `$mysql->db` might create a new connection. If you want to reuse the same connection, then you have to store the value from `$mysql->db`. Like this:

[code]

[2018-09-24 11:37] #39 closed

[2018-09-24 11:38] jhthorsen commented on #39
Also, I'm not sure how good MySQL handles transactions when doing `ALTER TABLE`. I would recommend to double check the documentation for the MySQL server version you're using.

[2018-09-24 13:05] volcanodev commented on #39
My bad. I stored database handle and now transaction works fine. Sorry and thanks a lot.

[2018-11-13 08:32] jhthorsen commented on #38
@srchulo: I just made the database name optional in 1.08.

e8e65ca1737928ae506d247c1c5cfa4d44916d17

[2018-11-14 00:13] srchulo commented on #38
Awesome! Thanks for letting me know :) Did you happen to figure out the answers to the questions above?

[2018-11-14 01:46] jhthorsen commented on #38
Yes, connections are still cached. So you either have to make sure you change the database each time you get the `$db` object or not change the database at all.

And yes: Please do specify a database when creating a Mojo::mysql object or make sure all your queries have `FROM database.table` in them. I think the latter is kind of scary, since it's so easy to make a query without it and get confusin

[2018-11-14 01:55] Grinnz commented on #38
FWIW: You can use the [connection](https://metacpan.org/pod/Mojo::mysql#connection) event for setup that needs to happen for any new connection that will be made by the object, such as 'use foo'. But I'm not sure why you'd want to do that and not just specify a database to connect to.

[2018-11-15 00:16] srchulo commented on #38
Yeah, I'll just be specifying a database. But this is all good to know. Thanks!

[2018-11-21 02:20] ViktorNacht opened #40 "Extended SQL Options (like GROUP BY and HAVING) Similar to Mojo::PG and Sorting?"
Does Mojo::mysql support the extra (non-PostgreSQL specific) options as documented here for Mojo::PG?

https://mojolicious.org/perldoc/Mojo/Pg/Database#select

Also, I wanted to suggest that it might be nice to document or show any example in the docs on specifying a sort order in the select method. I know you can click over the SQL::Abtract docs to figure it out, but for new users it might be hel

[2018-11-21 03:24] Grinnz commented on #40
You need to use SQL::Abstract::Pg instead of SQL::Abstract to get all of the options indicated that way. You can set it as the 'abstract' attribute of Mojo::mysql. No guarantees as to what features will work in mysql.

[2018-11-21 06:14] jhthorsen commented on #40
@Grinnz: Is the dialect the same?

@ViktorNacht: I'm not entirely sure how to go about this, but if you open a PR with something like https://github.com/mojolicious/mojo-pg/blob/master/lib/SQL/Abstract/Pg.pm then I will probably take it...

When that is said, I thought these features was already implemented.

[2018-11-21 18:39] ViktorNacht commented on #40
@Grinnz Thank you very much. Solutions like this really make me appreciate the Mojo ecosystem.

@jhthorsen For sure. I would like to contribute and will look into the code, but I confess I still live with the handicap of a 22-year CGI.pm mindset, lol.

Does it make sense to include SQL::Abstract::Pg and turn some of the options like 'on_conflct' into noops, or do you think manually crafting it wou

[2018-11-22 15:12] Tekki commented on #40
Hope you don't mind if I enter the discussion.
@ViktorNacht you could fork this repo, then we could take a closer look at it and come back here with a solution.

[2018-11-23 21:19] ViktorNacht commented on #40
Sure, I've forked it. I think these extensions really make the module much more powerful.

[2018-11-24 10:36] Tekki opened #41 "Failing JSON test on MariaDB 10.3"
If I run t/json.t against MariaDB 10.3 using DBD::mysql 4.049, a single test fails:
[code]
When I change `->expand` to `->expand(1)` all tests pass. Is this an incompatibility with MySQL?

Addition: On MySQL 5.7 both `->expand` and `->expand(1)` succeed.

[2018-11-24 11:51] jhthorsen commented on #41
I don’t know. Maybe you can check what type MariaDB reports the column has?

https://github.com/jhthorsen/mojo-mysql/blob/master/lib/Mojo/mysql/Results.pm#L66

expand(1) is just guesswork, it doesn’t really care about if the database supports JSON or not.

[2018-11-25 10:39] Tekki commented on #41
Type is 252. With
[code]
all tests pass on MariaDB 10.3, 10.4 and MySQL 5.7.

(Took me some time to get a working test environment; the containers on Dockerhub still run on Latin1.)

[2018-11-26 13:26] yuriy-zhilovets2 opened #42 "Documentation mismatch"
[https://metacpan.org/pod/Mojo::mysql::Results#affected_rows]
_Number of affected rows by the query. The number reported is dependant from found_rows option in Mojo::mysql._

But the page on Mojo::mysql does not mention this option.

I guess that documentation references to the option **mysql_client_found_rows** of DBD::mysql

[2018-11-27 00:31] #41 closed

[2018-11-27 00:31] #42 closed

[2018-11-29 14:02] Tekki opened #43 "Pubsub tests fail on some MySQL versions"
On some versions the pubsub tests fail with the following error:

This error occurs on MySQL 5.7 from Amazon AWS (reported by @ViktorNacht) and on 8.0 from Dockerhub. While I don't know the details of the AWS config, the one on Docker is [quite simple](https://github.com/docker-library/mysql/blob/master/8.0/config/conf.d/docker.cnf).

[2018-11-29 23:38] jhthorsen commented on #43
A quick google search tells me that the reason is that the database you’re testing on does not allow the pubsub functions to be created.

I don’t see how I can fix this on my side, so I’m going to close this issue unless further information is submitted.

[2018-11-29 23:41] jhthorsen commented on #43
My only suggestion would be to skip the pubsub test if the database does not support the required functions or by an environment variable. But I don’t know what you really want: Do you want the test to be skipped or do you want the code to be fixed?

I also don’t see how the MySQL version is relevant. I’m pretty sure it’s the configuration of the server.

[2018-11-30 08:11] Tekki commented on #43
For me it's okay if the tests are skipped. I can prepare a PR.
The error is with 'create trigger' and I think the message is not very helpful. I run 5.6, 5.7 and 8.0 with identical configuration and the tests only fail on 8.0.

[2018-11-30 08:36] jhthorsen commented on #43
I would like if it was skipped with an environment variable, like SKIP_PUBSUB_TEST, but the module is also experimental so it could be skipped automatically I guess...

[2018-12-01 15:25] Tekki commented on #43
PR is #44.
The error starts with MySQL 8.0.3, changelog for this version is [here](https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-3.html).

[2018-12-01 15:27] Tekki commented on #40
Here is a first PR: #46
JSON from SQL::Abstract::Pg is missing for the moment, I plan to add some high-level JSON support (whatever this means).

[2018-12-07 05:34] jhthorsen commented on #43
Resolved by #44.

Thanks 👍

[2018-12-07 05:34] #43 closed

[2018-12-07 05:35] jhthorsen commented on #40
I'm closing this in favour of #46.

@ViktorNacht: Please comment on the PR if it does not do what you want.

[2018-12-07 05:35] #40 closed

[2018-12-18 21:45] eserte opened #49 "t/sql.t fails (with older SQL::Abstract?)"
On some of my smokers:
[code]
This seems to happen if SQL::Abstract is older (i.e. not 1.85 or 1.86).

[2018-12-18 23:35] jhthorsen commented on #49
@Tekki: Can you tell me, or make a PR with which version of SQL::Abstract is required?

https://github.com/jhthorsen/mojo-mysql/blob/master/cpanfile#L3

[2018-12-19 05:26] Tekki commented on #49
Don't know for sure. The order_by stuff is stolen from mojo-pg and there we have 1.86 in the makefile (https://github.com/mojolicious/mojo-pg/blob/master/Makefile.PL#L33). Sri has made some pull requests at SQL::Abstract, so it's quite sure that we need 1.86 too.

[2018-12-19 06:06] Tekki commented on #49
What about Mojolicious 7.55 in the cpanfile? Don't we need a more recent version?
From 8.02 I get warnings from Mojo::Promise in database.t that disappear in 8.09.

[2019-01-05 03:34] jhthorsen commented on #49
I hope this gets fixed in 1.12.

[2019-01-05 03:34] #49 closed

[2019-01-31 17:13] Tekki opened #52 "Unstable expand function"
`$db->query(...)->expand->something` crashes under several circumstances. I'll prepare a PR with failing tests.

[2019-02-18 11:04] daleif opened #54 "SQL::Abstract::mysql join does not match documentation"
I'm playing with the `join` examples from the SQL::Abstract::mysql` POD

For example

    my $mysql = Mojo::mysql->new;
    my $abstract = $mysql->abstract;
    # "select * from foo left join bar on (bar.foo_id = foo.id)"
    say $abstract->select(['foo', [-left => 'bar', foo_id => 'id']]);

just gives

    SELECT * FROM `foo`, `ARRAY(0x1c53010)`

Am I missing something really obvious here?

I've

[2019-02-18 12:05] jhthorsen commented on #54
I don’t think I will find time to look at this until later this week, but maybe @Tekki knows?

[2019-02-18 13:09] Tekki commented on #54
I'm the one who knows nothing, but it seems I forgot to steal a part of the code from Mojo::Pg. I'll take a look at it (@jhthorsen could care about DBD::MariaDB in the meantime).

[2019-02-19 09:53] Tekki commented on #54
Made some additions to the module in #56. Thanks to @daleif for reporting this issue.

[2019-02-21 07:00] jhthorsen commented on #54
This should be fixed by @Tekki. Hopefully I’ll be able to make a new release later today.

[2019-02-21 07:00] #54 closed

[2019-03-01 20:16] ViktorNacht opened #57 "expand mangles unicode characters stored in JSON column"
I can create a working example, but just a quick heads-up that I'm getting mangled unicode when I use the expand function selecting data from a JSON column (technically I was using expand(1)).

I confirmed this by removing expand and then de-serializing it with j and the unicode characters remained in-tact.

FYI, my DSN is something like:

mysql://foo:bar@db.us-west-2.rds.amazonaws.com/table_name?

[2019-03-01 21:30] Grinnz commented on #57
Serializing with j is incorrect. Since the query and parameters are being encoded to UTF-8 already, you want to use to_json so as not to double-encode. Alternatively, use j or encode_json and bind it as a SQL_BLOB as shown in https://metacpan.org/pod/Mojo::mysql::Database#query. But you might as well just use the json generator.

[2019-03-01 22:24] ViktorNacht commented on #57
Cool. Not to disagree with you, but to make sure I understand what's happening.

I'm using $db->insert() because passing a hash reference with the column names and values is better for my application. Because I didn't see a way to use the json generator without using $db->query, I encoded the json column with j, and then inserted with $db->insert().

Selecting the json column with the mysql CLI an

[2019-03-01 22:29] Grinnz commented on #57
It is hard to debug encoding issues because the tools you use to debug also work in a certain encoding. When you select (with utf8mb4 enabled) and then use j to deserialize, both of those steps decoded, so it successfully double-decodes the double encoded data.

[2019-03-01 22:37] Grinnz commented on #57
You are correct that you can't use the json generator with the SQL::Abstract functions. SQL::Abstract::Pg added this feature (https://metacpan.org/pod/SQL::Abstract::Pg#JSON) but it hasn't been added to SQL::Abstract or SQL::Abstract::mysql yet.

[2019-03-02 03:04] jhthorsen commented on #57
@ViktorNacht: You might want to have a look at #51. I'll merge the changes once @Tekki is happy with the implementation. Any feedback would be very much appreciated, so please take the PR for a spin.

[2019-03-02 03:08] jhthorsen commented on #52
Feel free to close this, since you created #53.

[2019-03-02 06:53] Tekki commented on #57
The idea with my changes is that you won't have to JSON encode and decode anymore, just work with Perl hash and array references.
There are already some issues with `->expand` (see #52), so it's possible you discovered a new one. If you can give us an example, we can include it in the tests.

[2019-03-04 07:29] ViktorNacht commented on #57
I installed #51 and I loved the fact it automagically $db->insert[ed] my arrayref of hashrefs as JSON. That's so awesome.

Using the mysql CLI and graphical interface the unicode characters were correctly inserted.

Using $result->expand(1) gave me the same mangled results as before. I also tried removing ->expand  to see if it would auto-decode and it did not. I still had to use j.

I couldn't te

[2019-03-04 07:53] Tekki commented on #57
I'll keep an eye on the encoding when I modify the expand function.

[2019-03-04 13:15] Tekki commented on #57
Until now I can't find encoding issues with `->expand`. Replaced 'supergirl' with 'süpergörl' in t/json.t, both tests 'name as string' and 'name as hash' pass.
To what Grinnz said earlier I could add: Don't trust what you see in the console, don't trust what some tools show you, they may be too clever and correct the encoding on the fly.
Write a script with an editor that gives you full control ov

[2019-03-04 19:21] ViktorNacht commented on #57
For sure, I included grape juice :) in my test data and get the same results.

So if I use #51 to insert the data (by letting the module convert to JSON), and then I use $result->expand(1) and still get mangled unicode, where would you suggest looking for issues? There's no j  or double-encoding (that I'm aware of). Would running the tests in #51 possibly help?

Keep in mind, all other unicode loo

[2019-03-05 05:45] Tekki commented on #57
The question is if you get this error with the published code. #51 is still an experiment. Can you show us how to reproduce this issue, please?

[2019-03-05 08:53] jhthorsen commented on #57
@ViktorNacht: There's really no way we can reproduce what you are saying without a small example application or a small test. Saying "unicode looks perfect" sounds to us as you're using your eyes, which isn't proof of anything.

[2019-03-06 16:55] jhthorsen commented on #52
I'm closing this, since #58 is so close.

Excellent work @Tekki!

[2019-03-07 23:17] ViktorNacht commented on #57
Wow, you're right about not trusting your eyes. This is a small app I made mostly for myself to test the different ways of inserting and selecting JSON, and my results. This issue is probably specific to my system, so I have to be pragmatic and go with what works. But if this is helpful, or you suggest further testing that could be helpful, that's cool.

[code]

'/query' uses the internal engine o

[2019-03-07 23:30] Grinnz commented on #57
To diagnose your issue, what is the column type and charset of the my_json column?

[2019-03-07 23:35] ViktorNacht commented on #57
[code]

(the column charset is the default charset)

[2019-03-07 23:43] Grinnz commented on #57
I suspect this is the intersection of two DBD::mysql bugs. First the well-known encoding bug where it uses input strings incorrectly as parameters, you could verify this by running `utf8::upgrade $object;` before inserting it, I suspect this would result in the same output as the first test. utf8::upgrade does not modify the string, only the internal representation, and that this affects DBD::mysq

[2019-03-07 23:47] ViktorNacht commented on #57
And you'd be 100% correct:

[code]

[2019-03-07 23:52] Grinnz commented on #57
Since DBD::MariaDB support is now merged, could you try with Mojo::mysql 1.13, DBD::MariaDB installed, and `mariadb://` as the protocol?

(You would also need to remove the mysql_enable_utf8mb4 option, this is default behavior in DBD::MariaDB)

[2019-03-07 23:56] ViktorNacht commented on #57
Yes, I’d be happy to in a couple hours.

Stupid question: Use the same server or spin up a MariaDB instance?

This email was sent from my iPhone and may contain mispellings, outer space words, and not good grammar.

[2019-03-07 23:58] Grinnz commented on #57
Using the same server. DBD::MariaDB is just an unfortunate naming choice for the fork.

[2019-03-08 01:08] ViktorNacht commented on #57
FYI, using 'mariadb://' with 'mysql_enable_utf8mb4' removed:

[code]

[2019-03-08 01:40] Grinnz commented on #57
I unfortunately don't have access to a new enough MySQL or MariaDB server to test this, but to try to isolate the response case further to a query that could demonstrate the problem for bug reports, what happens if you compare the response of something like this? `SELECT JSON_OBJECT('drink', CONVERT(UNHEX('537AC5916CC5916CC3A9') USING utf8mb4)) AS my_json`

[2019-03-08 02:28] ViktorNacht commented on #57
[code]

[code]

[2019-03-08 02:37] Grinnz commented on #57
Interesting, so it decodes that correctly but not from the JSON column... To make sure it's selecting from the column that's the problem, can you try one last thing: `INSERT INTO unicode_json_test SET my_json = JSON_OBJECT('drink', CONVERT(UNHEX('537AC5916CC5916CC3A9') USING utf8mb4))` then selecting the column as you did before?

[2019-03-08 03:48] ViktorNacht commented on #57
[code]

[code]
FYI:

[code]

[2019-03-08 04:05] Grinnz commented on #57
Thanks for testing. I opened issues on DBD::mysql and DBD::MariaDB, I am curious if @pali can shed some light.

[2019-03-08 06:09] ViktorNacht commented on #57
Cool, I'm glad I could do something useful. :) FYI, I spun up a mySQL 8.0.13 instance, and got the same results with both drivers.

[2019-03-08 07:57] Tekki commented on #57
@ViktorNacht, @Grinnz thanks to both of your for the additional information. I still had some difficulties to reproduce it with `t/json.t` until I realized that the 'supergirl' tests are made on the `name` instead of the `j` column. Instead it should be tested on line 18 - 23:
[code]
I see no difference if I use the 'enable...' flags or not, but I have set everything to 'utf8mb4' on the server. Ch

[2019-03-08 08:42] pali commented on #57
Hi! If you think that DBD::MariaDB does not correctly return JSON columns as Unicode strings, can you please apply following patch for DBD::MariaDB and provide output for SELECT which just returns that JSON column?
[code]
It prints to stdout information about column, charset and type.

[2019-03-08 13:22] pali commented on #57
See my comment in https://github.com/gooddata/DBD-MariaDB/issues/142#issuecomment-470925345 . I do not see anything wrong with current behavior of DBD::MariaDB. UTF-8 JSONs are correctly decoded.

[2019-03-08 16:06] Tekki commented on #57
@pali and all the others: I've no time to look at this before Sunday.

[2019-03-10 07:53] Tekki commented on #57
Here is a test, similar to those from Mojo::mysql, but using DBD::mysql and DBD::MariaDB directly:
[code]
Message if failed:
[code]
Overview over the results:

| db | DBD::mysql 4.050 | DBD::MariaDB 1.21 |
| --- | --- | --- |
| MySQL 5.7 | FAIL | FAIL |
| MySQL 8.0 | FAIL | FAIL |
| MariaDb 10.3 | FAIL | PASS |
| MariaDB 10.4 | FAIL | PASS |

[2019-03-10 08:11] Tekki commented on #57
@jhthorsen Seems we have to deal with the situation that the drivers return inconsistent encodings for JSON columns. We have to test for 'szőlőlé' wherever possible.
If I change the above test like this
[code]
it succeeds in all 8 situations.

[2019-03-10 09:47] pali commented on #57
Note that DBD::mysql has a Unicode Bug which is never going to be fixed (https://github.com/perl5-dbi/DBD-mysql/issues/117) due to legacy reasons and it is reason why DBD::MariaDB fork was created. So if you need correct Unicode support, just do not use DBD::mysql... It would never work correctly and just cause problems, like double encoding or damanged data.

@Tekki, can you apply patch from http

[2019-03-10 10:04] Tekki commented on #57
We will solve all problems in Mojo::mysql and nobody will use DBI modules directly anymore. 💪 😄
(Maybe, we will see...)

[2019-03-10 14:26] Tekki commented on #57
| db | output |
| --- | --- |
| MySQL 5.7 | i=0 name=my_json charset=63 type=245 value={"drink": "Szőlőlé"} |
| MySQL 8.0 | i=0 name=my_json charset=63 type=245 value={"drink": "Szőlőlé"} |
| MariaDB 10.3 | i=0 name=my_json charset=45 type=252 value={"drink": "Szőlőlé"} |
| MariaDb 10.4 | i=0 name=my_json charset=45 type=252 value={"drink": "Szőlőlé"} |

[2019-03-10 14:56] pali commented on #57
@Grinnz wrote:

And @Tekki wrote:

Charset 63 is `binary`, not `utf8mb4`. Charset 45 is `utf8mb4`. So either MySQL documentation or @Grinnz's quote is not truth. MySQL 8.0 returned binary data, not UTF-8 data.

[2019-03-10 15:05] pali commented on #57
But MariaDB server returns correctly charsrt 45 (`utf8mb4`). Therefore this is clear bug in MySQL server as it does not return charset for UTF-8 column correctly. Could you report bug to MySQL server bugtracker.

[2019-03-11 05:27] Tekki commented on #57
@pali can you give me link where they say JSON should return `utf8mb4`? I only find [this](https://dev.mysql.com/doc/refman/8.0/en/json.html#json-converting-between-types) that I understand in a way that `binary` could be correct.

[2019-03-11 06:06] Grinnz commented on #57
"Strings produced by converting JSON values have a character set of utf8mb4 and a collation of utf8mb4_bin" This means that the returned JSON will be returned as a utf8mb4 string (and apparently, with the output of JSON_OBJECT() or similar it is, but not with a JSON column)

[2019-03-11 08:26] Tekki commented on #57
It will be returned as `utf8mb4` if we convert it to a string type, but it will remain what it is if we don't convert it. JSON values on MySQL are objects, on MariaDB they are strings.
Is it completely wrong what I say?

[2019-03-11 08:38] pali commented on #57
MYSQL protocol support just strings.

[2019-03-12 00:48] ViktorNacht opened #59 "Abstract USING keyword in JOIN syntax"
I'm one of those weird people that adds the singular table name to the id column (e.g. foo_id), which is especially nice for simplifying JOINS:

`SELECT * FROM foo, bar USING (foo_id)`

This seems verbose:

`$db->select(['foo', ['bar', 'foo.foo_id' => 'bar.foo_id' ]);`

(which is what I'm using in my current app)

For the sake of maximum flexibility and completeness, I just wanted to wishlist the

[2019-03-12 07:34] jhthorsen commented on #59
How can you tell the difference between a table ad column name?

[2019-03-12 12:12] Tekki commented on #59
The correct query seems to be
[code]
For the sake of completeness we could implement the `NATURAL JOIN` too in something like
[code]
The question is always, where does it make more sense to write a query directly with `$db->query()`? If we implement everything that is imaginable we end up with a module that is unusable. Remember HTML generation with CGI?
By the way, I'd prefer to see `-natural` su

[2019-03-12 14:03] jhthorsen commented on #59
@Tekki: Feel free to implement or request a PR 😄

[2019-03-12 19:20] ViktorNacht commented on #59
This clearly makes way more sense given the current structure and is very clear and succinct.

My argument against falling back on `$db->query()` is it becomes difficult if not impossible to build SQL across multiple helpers and/or using dynamic controllers, etc. I know that's stating the obvious, but I think this module is wonderful alternative to DBIC.

[2019-03-17 05:31] Tekki commented on #59
I could imagine something like that:
[code]

[2019-03-19 14:42] pali commented on #57
@Tekki The main problem is that MySQL say that returned string is not in UTF-8 (but in binary), see: https://github.com/jhthorsen/mojo-mysql/issues/57#issuecomment-471313415

So DBD::MariaDB driver does not treat returned string from MySQL as Unicode string.
This is clear bug in MySQL server, so I would suggest to report it to the MySQL bugtracker.

It does not matter how are values stored on serv

[2019-03-22 05:17] #52 closed

[2019-03-22 05:56] Tekki commented on #57
This situation is a bit unfortunate. We have contact to the developers of DBD::mysql and DBD::MariaDB and can decide which version needs to be installed. But if it comes to errors in MySQL, it's getting difficult. First of all I'm not the one who can discuss technical details with the developers on bugs.mysql.com. I don't understand enough of these protocols to decide if there is really an error i

[2019-03-22 08:21] pali commented on #57
@Tekki Hacking Mojo::mysql is not a solution. Once upstream decide to fix it, you would again have broken Mojo::mysql and in very bad irreparable way -- new version starts returning double encoded/decoded strings... Hacking server errors on client side, without knowledge of when and how is going problem fixed on server is way to the hell. You need to know how upstream fix server and based on this

[2019-03-22 08:59] jhthorsen commented on #57
I disagree @pali.

I don't get how we're not able to do fix it in the client. We could even have code that checks the server version if we have to.

[2019-03-22 09:03] pali commented on #57
You add workaround in client; server gets fixed and all existing code which uses client would be broken after upgrading server. People would not be happy to use such client which is going to be periodically broken by such changes...

But main question: Why you are going to workaround server problems without even communicating with server developers and coordinate what is correct workaround for par

[2019-03-22 11:03] jhthorsen commented on #57
@pali: Because our users might not be able to upgrade to the latest and greatest version of the server.

When that is said, I'm not going to fix this, but I'm backing @Tekki's comment above.

@Tekki: What do you think we should do? Should we close this as "Won't fix"? This thread is getting too long, and I think it's diverging. (And at least I'm having difficult sorting the information)

[2019-03-22 16:03] Grinnz commented on #57
I do not think it is feasible for Mojo::mysql to completely handle this unfortunate situation. Aside from if this actually gets fixed in MySQL, MariaDB (server) does not appear to have this bug, so the workaround would be wrong to apply in that case. There is no way to tell that you are getting json column data back rather than some other binary data (or even JSON stored in a blob column). I also

[2019-04-12 04:42] Tekki commented on #59
@ViktorNacht any feedback on this?

[2019-04-15 03:44] ViktorNacht commented on #59
I think it's perfect. And I think this module is becoming way better than Mojo::pg.

[2019-04-20 04:34] #59 closed

[2019-05-09 04:41] srchulo opened #63 "Warning caused when using DBD::MariaDB and setting mysql_auto_reconnect to false"
This line:

https://github.com/jhthorsen/mojo-mysql/blob/master/lib/Mojo/mysql.pm#L115

Causes this warning:

`DBD::MariaDB::db STORE failed: Unknown attribute mysql_auto_reconnect at /home/jhthorsen/perl5/perlbrew/perls/perl-5.28.0/lib/site_perl/5.28.0/Mojo/mysql.pm line 115.  `

When using the [https://metacpan.org/pod/DBD::MariaDB](DBD::MariaDB) driver instead of [https://metacpan.org/pod/DBD::

[2019-05-09 05:03] Grinnz commented on #63
A couple lines above that it should be setting it to mariadb_auto_reconnect (and this is only because it is forcing it off in case the user turned it on). Somehow you are getting it to use DBD::MariaDB but with a dbi:mysql DSN. How are you setting up the object?

[2019-05-09 05:58] srchulo commented on #63
Ah, it seems like the warning occurs if I build my own DSN:

`my $mysql = Mojo::mysql->new(dsn => 'DBI:MariaDB:database=db;host=localhost;port=3306;', username => 'user', password => 'pass'); `

But doesn't occur if I use this format:

`my $mysql = Mojo::mysql->new('mariadb://user:password@localhost/db'); `

[2019-05-09 07:11] Tekki commented on #63
And if you write `dbi:MariaDB:database=db;host=localhost;port=3306`?
From the [DBI docs](https://metacpan.org/pod/DBI#parse_dsn): "$scheme is the first part of the DSN and is currently always 'dbi'."

[2019-05-11 17:29] srchulo commented on #63
Ah, that solves it. My mistake! Thanks :)

[2019-05-11 17:29] #63 closed

[2019-05-11 17:33] srchulo opened #64 "Feature Request: Add support for SQL::Abstract::Plugin::InsertMulti"
This may not make sense for [Mojo::mysql::Database](https://metacpan.org/pod/Mojo::mysql::Database), but I would be curious to get your thoughts. I think it would be very useful to have the methods in [SQL::Abstract::Plugin::InsertMulti](https://metacpan.org/pod/SQL::Abstract::Plugin::InsertMulti) in Mojo::mysql::Database, along with the corresponding `_p` versions. If it doesn't make sense, I was

[2019-05-11 19:50] jhthorsen commented on #64
I’m not too keen on adding this functionality, but instead of adding a role, you can make a subclass and set `$mysql->database_class`.

[2019-05-12 00:34] srchulo commented on #64
That's helpful, thanks! Would you mind telling me why you're against adding this functionality?

[2019-05-13 18:24] ViktorNacht opened #65 ""Expanding" Date[time] columns into DateTime objects"
Please don't hesitate to just close this, I just wanted to throw it out there that I'm frequently running into the need to convert date[time] columns into DateTime objects. Naturally this can be done with some combination of the Mojo::Collection tools with the object returned by $result->hashes, maybe inside of a model, but it could be very elegant to automagically create DateTime objects or at le

[2019-05-13 18:50] Grinnz commented on #65
This would only really make sense with a customizable 'expand' functionality which has been attempted in https://github.com/mojolicious/mojo-pg/pull/18 but this implementation was not accepted in Mojo::Pg at the time.

[2019-05-13 18:59] Grinnz commented on #65
DateTime is not a core module, by the way.

One implementation on the user end could be:

[code]

You could also use Time::Piece, which is a core module, but which doesn't support any time zones other than UTC and the local time zone of the machine.
[code]

It is also possible, in a roundabout way, that this could be added as a role for Mojo::mysql::Results.

The time zone issue is another challen

[2019-05-14 04:29] jhthorsen commented on #65
I’m not going to add this, unless a very generic proposal is made. I think something like adding a date_class attribute to the result class might work, but adding DateTime as a dependency is not going to happen, simply because I’m not a fan. I wonder if an expand hook could work better, so the end user can inflate any data.

What makes this hard for me is that I’m guessing as soon as we add someth

[2019-05-14 04:30] jhthorsen commented on #65
I’m leaving the issue open for discussion though. It’s interesting to see where this goes :)

[2019-05-14 04:35] Tekki commented on #65
Not at least we have to think about, or would have to measure, how such an addition affects the speed of `_expand`. With the last changes we already saw that these `grep` operations are time consuming. So it is probably better to solve this on the application level where you already know exactly which columns have to be converted.

[2019-05-20 21:09] jhthorsen commented on #64
Because I question usefulness v.s development+maintenance time.

[2019-05-20 22:24] srchulo commented on #64
Ah, I see. I use both insert_multi and update_multi frequently, and then find myself doing a loop instead with Mojo::mysql. However, I may not be representative of most users.

I would say feel free to close this, but I see that you added the enhancement and help wanted tags. If I authored a pull request, would you consider adding it? Or should we just close this and I could create a Database obje

[2019-05-21 06:04] jhthorsen commented on #64
A PR is not enough unfortunately. I need someone upvoting or commenting on this issue to consider it.

So “enhancement” was added because I think this is an enhancement, even though I disagree of the degree of usefulness, and then I added “help wanted”, because I would like some help to be convinced I guess... In hindsight I understand my use of tags is confusing. Sorry about that.

[2019-05-21 06:05] Tekki commented on #64
When I look at the source code of SQL::Abstract::Plugin::InsertMulti it reminds me of how difficult it is to extend SQL::Abstract. At first sight you think that you can extend it everywhere but then it turns out that you disable big parts of the original code, have to copy it to your own subs, and so on.
It would not be enough to add `insert_multi` to Database, we would have to add it to SQL::Abst

[2019-05-25 11:39] styxcc opened #66 "Potential Memory-Leak in Mojo::mysql"
Hi there.
Am I doing something wrong or is Mojo::mysql leaking memory in current debian setups like:
``Linux debian 4.9.0-9-amd64 #1 SMP Debian 4.9.168-1+deb9u2 (2019-05-13) x86_64 GNU/Linux``

As root:
[code]

With this Setup, "perl mojo_sql.pl" leaks memory, "perl dbi_mysql.pl" doesn't:

[code]
On an older setup I couldn't reproduce the behavior:
[code]

Kindly regards.

[2019-05-27 06:03] Tekki commented on #66
Could reproduce this. The issue starts with version 1.11.

[2019-05-28 04:16] srchulo commented on #64
@Tekki, could you point out which parts of SQL::Abstract::Plugin::InsertMulti extends SQL::Abstract? It looks like to me it just uses [-into in Sub::Exporter](https://metacpan.org/pod/Sub::Exporter) to install its methods into the SQL::Abstract namespace, and it's not clear to me how this would cause extended functionality in SQL::Abstract::mysql to be lost.

To me, it seems like only these lines

[2019-05-28 07:02] Tekki commented on #64
InsertMulti has its own internal methods and its own `SWITCH_refkind` blocks. It's not aware of anything happening around it. In SQL::Abstract::mysql we support `INSERT ... ON DUPLICATE KEY` and other MySQL variants of the `INSERT` command. They will not be available if you just add calls to InsertMulti, you would have to duplicate the behavior of `SQL::Abstract::mysql::insert` in your own subclas

[2019-06-03 03:12] srchulo commented on #64
Ah, I see. Thanks for explaining. So it sounds like the best solution would be to duplicate this functionality into SQL::Abstract::mysql, but that goes back to what @jhthorsen said about whether it's worth the usefulness v.s development+maintenance time.

[2019-06-07 22:42] Grinnz commented on #57
FYI: I have opened a bug against MySQL here, but I still have no way to reproduce or test it myself. https://bugs.mysql.com/bug.php?id=95698

[2019-06-08 05:04] Tekki commented on #57
Thanks @Grinnz, will be interesting to read their answer.

We should all be able to test these things, we'll have to find a solution for that.

[2019-06-10 07:40] Tekki commented on #57
The MySQL bug is now set to 'verified'.

[2019-06-10 08:51] pali commented on #57
What does verified mean? That it was accepted as a bug? Or as it was already fixed and verified that fix is correct?

[2019-06-10 14:09] Grinnz commented on #57
Verified that the bug exists, I believe.

[2019-07-02 11:16] Shalini-94 opened #67 "error in installing mojo::mysql"
hi,
can anyone suggest how to resolve the issue mojo::mysql error. if i run the mojo script its throwing the error has **"Can't locate Mojo/mysql.pm in @INC (you may need to install the Mojo::mysql module)"*
![mojo_mysql](https://user-images.githubusercontent.com/51451787/60508736-edf34680-9ce8-11e9-9cef-778801fdf0f0.png)
*

[2019-07-02 12:06] Tekki commented on #67
The error message says that the installation of DBD::mysql fails. Before I ask you to look into `build.log`: Are the MySQL or MariaDB client libraries installed on your system?

[2019-07-03 09:18] jhthorsen commented on #67
@Shalini-94: Please do look at the build error log on the first line that starts with "!".

I'm closing this, because it's not an Mojo::mysql issue. (The screenshot clearly states the same thing)

[2019-07-03 09:18] #67 closed

[2019-07-19 06:40] Tekki commented on #66
This leak was introduced with 64f96a2f0cba116.
10 loops with 1000 selects using the actual code:
[code]
The same with commit 64f96a2f0cba116 reverted:
[code]

[2019-08-01 07:46] #66 closed

[2019-08-01 07:48] jhthorsen commented on #66
This have been fixed in 1.17 now. The reason why this bug was introduced is that in non-blocking mode there must be a reference to the $sth so it's not lost. If someone can figure out a better way to do that, then I'm all ears!

Sorry for the long wait 😞

[2019-08-13 01:11] ViktorNacht opened #68 "Stashed $results object throws error on $results->hash in template"
Not sure if this is a bug in Mojo::mysql, Mojolicious, or expected behavior due to my ignorance of how the stash works. But when I get a simple results object like this:

[code]
and then stash it:

[code]

and then try to call `$results->hash` on it from a template:

[code]
I get the error message below. I know how to work around it by using `$results->hashes->to_array` and pass that result to the

[2019-08-13 01:25] Grinnz commented on #68
The results object is just a wrapper around the statement handle. It's possible you'll lose the connection before the template renders. My recommendation would be to avoid the problem and keep the results fetching out of the template.

[2019-08-13 01:29] Grinnz commented on #68
Mojo::mysql::Results may also need this change, though I don't remember exactly the reasoning. https://github.com/mojolicious/mojo-pg/commit/fa472549e3d1b7d1a97542ecd85c2d89fdfeb335#diff-ebed6d285154b1c54f7957a4e94cbf6c

[2019-08-13 01:56] ViktorNacht commented on #68
Ah ha.. thank you for the reply. FYI I'm using it in an `under` block, which might even be complicating things more. I think it's unfortunate, but I understand the issue.

[2019-09-20 14:50] srchulo opened #70 "Results class - object, objects"
I was wondering what you would think for the [Mojo::mysql::Results](https://metacpan.org/pod/Mojo::mysql::Results) to have an `object` and `objects` methods that correspond to `hash` and `hashes`, but instead returned objects with the keys as attributes. I was thinking this could be useful so that you don't need to worry about typos in hash keys if performance isn't a concern.

[2019-09-20 15:00] Grinnz commented on #70
This should be easy to do with a role, which you could apply by setting database_class in Mojo::mysql to a Mojo::mysql::Database subclass that overrides results_class.

[2019-09-20 15:04] srchulo commented on #70
Yeah, that's a good idea. I can do that, but I wanted to see if this would be generally useful to include in `Mojo::mysql::Results`.

[2019-09-20 18:00] Grinnz commented on #70
Put together one possibility at https://github.com/Grinnz/Mojo-DB-Results-Role-Struct. One to return Mojo::Base objects would be doable too. Still working on the mechanism to apply it to the Mojo::mysql object.

[2019-09-22 04:30] jhthorsen commented on #70
I'm giving this feature request a 👎 because I would rather encourage the programmer to write tests to prevent having/introducing typos.

Adding an custom [result_class](https://metacpan.org/pod/Mojo::mysql::Database#results_class) with this kind of functionality sounds like a better option to me.

[2019-09-22 04:30] #70 closed

[2019-09-22 05:16] srchulo commented on #70
@Grinnz that looks like a good solution!

@jhthorsen I agree that testing is important and should catch these typos, but I think the benefit of the method call is a very loud error that the programmer/application user can't miss vs. a potentially silent failure that returns `undef` for an invalid key. Not saying it should be included in this module (definitely fine with your decision), but for qui

[2019-10-24 19:18] ovadbar opened #71 "Overwriting HandleError"
I want to use a Class similar to DBIx::Error to handle my Errors but the code overwrites my changes.

I would on change
`local $sth->{HandleError} = sub { $_[0] = Carp::shortmess($_[0]); 0 };`
to
`local $sth->{HandleError} ||= sub { $_[0] = Carp::shortmess($_[0]); 0 };`

[2019-10-28 04:22] jhthorsen commented on #71
Just changing that line will be inconsistent, since it only handles the synchronous queries. I can't really see how this would work, without some sort of event or hook, but I'm open for suggestions.

[2019-10-28 21:24] ovadbar commented on #71
Yeah I missed what needs to be done for the asynchronous queries.
The I overwrote your method _watch as well see below.
(I am using Try::Tiny for the Try / Catch but I assume anything else will
work.)

So for now I am just using your class as a base class and just overriding
those 2 methods.

[code]

[2019-10-29 16:52] ovadbar commented on #71
So I have done some testing and I realize that patching it that way will
not work. As if $sth->$result_method is not completed then I can get the
following error.
"Gathering async_query_in_flight results for the wrong handle"

I have created a child class that seems to work (I have removed some
additional code unrelated to this if it doesn't work). If there are issues
with this let me know and I c

[2019-11-15 15:16] #68 closed

[2020-04-08 08:15] osvathzo opened #73 "Delayed closing of idle connections"
Hi,
I am writing a REST API that uses mysql as a backend, and I have did a load test which seemed to work fine but after some time all the new connections to the mysql server started to fail (then work again for some time, and then fail again).

The error was: dbi connect failed can't connect to mysql server on (99)

I first suspected that there were too many concurrent connections, but it turned

[2020-04-08 08:24] osvathzo opened #74 "Maximizing the number of connections"
Hi,

do you have a suggestion how would it be possible to implement some kind of an upper limit on the number of concurrent connections to the mysql server?

I could subscribe to the connection event of Mojo::mysql, but I don't see a way to know when a connections is closed.

Thanks,
Zoltán

[2020-04-08 09:07] jhthorsen commented on #73
I'm not quite sure if this is something I want. I don't want to over complicate the code base if this is a more theoretical issue, than a practical one. I probably take a PR if the feature is well tested though.

[2020-04-08 10:18] osvathzo commented on #73
Thanks for the quick reply!

It may have practical implications. If the load is such that there are more connections in rotation than the `max_connections` setting, then the module is constantly closing old and opening new connections, instead of reusing already existing ones.
This can be solved by setting a high enough `max_connections` value, but then in low load situations these connections are

[2020-04-08 13:16] jhthorsen commented on #73
Is there a problem with keeping many connections around? Not sure what “many” is though. I’m not entirely sure why a process would need a lot of connections to MySQL, because they are being reused.

The more I think about it, the more I think there might be something wrong with your schemas, sql queries, or something else.

[2020-04-08 14:01] jhthorsen commented on #74
Why do you need this? I don’t see how having a lot of connections open being an issue.

[2020-04-10 10:30] fskale commented on #73
Today, i encountered a similar problem.
The program queues 5 parallel connections using AsyncAwait and the ReadWriteFork module.
It runs once a week and did that for 1 month, today i found out, that the process hang so i attached the process using strace:
<pre>
restart_syscall(<... resuming interrupted poll ...>^Cstrace: Process 33863 detached
 <detached ...>
</pre>
After killing the session on th

[2020-04-10 11:12] jhthorsen commented on #73
One way to investigate could be to force the Poll reactor: https://github.com/mojolicious/mojo/blob/fb221bb5c8c94c21eb7202be09833f5592e95d0d/lib/Mojo/Reactor.pm#L94

[2020-04-10 11:23] fskale commented on #73
Thanks @jhthorsen
I also found out, that the DBI module had some bugs.
I did a repackage of the DBI library too.
It still runs.
After that, i will force the POLL reactor and will report back.
Since i use your ReadWriteFork module, all the stderr (DBI_TRACE=1) will go to the logfile, which makes debugging a lot easier !

Thx.
Franz

[2020-04-10 11:56] fskale commented on #73
So,
after upgrading the DBI library, i get an error:
<pre>
[2020-04-10 13:39:43.54031] [99877] [debug] _run_cmd_ref: buffer from stdin/stderr:     <- execute= ( 2 ) [1 items] at Database.pm line 65
    <- DELETE('HandleError')= ( CODE(0x559dc70ad060) ) [1 items] at Database.pm line 68
    !! ERROR: 2000 'fetch() without execute()' (err#0)
    <- fetchall_arrayref= ( [ ] ) [1 items] at Results.pm l

[2020-04-10 12:41] fskale commented on #73
It works when running with Mojo::Reactor::Poll. Tried for two times. (40k select/inserts per run).
Rgds.
Franz

[2020-04-10 13:14] fskale commented on #73
Sorry, but i didn't check the logs in depth. I get 17k of errors when using the POLL Backend:
<pre>
[2020-04-10 14:14:18.27473] [124003] [debug] _run_cmd_ref: buffer from stdin/stderr:        ERROR: 2006 'MySQL server has gone away' (err#0)
    <- DELETE('HandleError')= ( CODE(0x5610a9f82bc8) ) [1 items] at Database.pm line 65
       ERROR: 2006 'MySQL server has gone away' (err#0)
    <- DESTROY(

[2020-04-13 11:46] fskale commented on #73
After a lot of debugging i found the error.
When having 0 rows when using select(_p) sth->fetch calls will result in an error. (fetch without execute).
To overcome this problem, you have to check the $results->rows.
If rows > 0 there are results and you can continue otherwise you have to ommit the $results methods.
@osvathzo
You'll see only one connection on the mysql server due to the fact, that

[2020-04-14 06:19] Tekki commented on #73
Shall we set version 4.050 in the cpanfile? At the moment we are at 4.042.

[2020-04-14 07:38] osvathzo commented on #74
I don't mind having a lots of open connections, rather I would like to avoid my REST API service using so many connections that there are no more slots left for other users of the MySQL server.

But this is more a theoretical question than my other issue, I haven't reached such high concurrent connection numbers so far.
I am just curious if there is an elegant way to do this?

[2020-04-14 09:31] osvathzo commented on #73
@jhthorsen
It is certainly possible that there is something wrong how I do things.

Most of my REST API endpoints are used for bulk operations. Some SELECTs that are required can be merged into a single query with multiple where conditions or IN (...) conditions, while others that can't be merged are executed with `Mojo::Promise->map({concurrency =>5}...)`. In a single bulk request there are sever

[2020-04-28 15:54] shadowcat-mst opened #75 "SQL::Abstract::mysql overrides random parts of the SQL::Abstract internals and will almost certainly break with the next SQL::Abstract release"
If you want additional features in SQL::Abstract please contact the SQL::Abstract development team via irc.perl.org #dbix-class - ping 'mst' or 'ilmari' specifically.

The SQL::Abstract::mysql shipped as part of Mojo::mysql is incredibly fragile and since nobody bothered talking to us before writing it, relies on things that are unstable, unsupported and will almost certainly be broken by the next

[2020-04-29 21:20] jhthorsen commented on #75
@Tekki: Is this something you have time to fix in a stable way? If not, then I think I have to mark SQL::Abstract::mysql as DEPRECATED, and make a release with a huge warning. I find the SQLA code very difficult to navigate and override, so I don't see how I can find time to fix it myself.

I will however have a second look if nobody else can.

To every user of Mojo::mysql: I'm very sorry that I a

[2020-04-29 21:26] shadowcat-mst commented on #75
OK. I believe I have *mostly* figured this out. I have no idea at all what the _METHOD_for_refkind crap was in aid of but here's how you do it without that:

    diff --git a/lib/SQL/Abstract/mysql.pm b/lib/SQL/Abstract/mysql.pm
    index f97a1a2..39927dc 100644
    --- a/lib/SQL/Abstract/mysql.pm
    +++ b/lib/SQL/Abstract/mysql.pm
    @@ -5,12 +5,11 @@ BEGIN { *puke = \&SQL::Abstract::puke }

[2020-04-29 21:34] shadowcat-mst commented on #75
Note also I'm fairly sure that ->insert($table, \@values) which is a documented SQL::Abstract API was broken by the original egregious hack and my patch *should* restore that to functioning - I'd recommend once t/sql.t is using SQL::Abstract::Test that somebody adds a test for that one just to be sure and gives me a kick if I'm wrong and I didnb't fix it.

[2020-04-29 22:26] shadowcat-mst commented on #75
As a final note, @tekki you didn't do that badly with the code, just copy-pasting parts of the SQLA sources and editing them isn't really a robust way to subclass and next time you plan something that clever, please do have a go but also please please please talk to me or ilmari before it hits cpan so we can help make sure there's no unnecessary footguns in there.

I'd note that when I wrote the o

[2020-04-30 01:58] shadowcat-mst commented on #75
I've taken the t/sql.t changes @jhthorsen added to his now-closed PR and combined them with my patch and https://github.com/jhthorsen/mojo-mysql/pull/77 is the result.

This works with

    cpanm SQL::Abstract@1.86;
    perl -Ilib t/sql.t

and also

    cpanm --dev SQL::Abstract
    perl -Ilib t/sql.t

so I believe is a correct update to get everything solid again.

Further changes may or may not

[2020-04-30 02:14] jhthorsen commented on #75
Thanks @shadowcat-mst! I really appreciate it <3

[2020-04-30 02:14] #75 closed

[2020-04-30 02:15] jhthorsen commented on #57
I believe this conversation has gone stale. Please let open a fresh issue if changes should be made in Mojo::mysql.

[2020-04-30 02:15] #57 closed

[2020-04-30 02:24] jhthorsen commented on #74
I think I would solve this in MySQL instead:

[code]

[2020-04-30 02:24] #74 closed

[2020-04-30 02:35] jhthorsen commented on #73
@osvathzo: I don't consider idle connections an issue. Please do let me know why that is, or I won't see any reason to change the code .

Also, do you need to run the SQL concurrently? Why not create an "SQL queue" and run the statements sequentially? (As opposed to using Mojo::Promise::map)

[2020-04-30 02:36] jhthorsen commented on #65
I'm going to close this, since it seems like the issue has gone stale.

[2020-04-30 02:36] #65 closed

[2020-04-30 02:43] #71 closed

[2020-05-03 08:48] Tekki commented on #75
@jhthorsen and @shadowcat-mst: sorry, I had no time to look into this during the last week. There are a lot of Whys in this thread, so maybe I should clarify a bit: This was one of my first pull requests to this repo and at the beginning I even didn't have a login on cpan. I started with imitating what mojo-pg is doing and suddenly we needed more and more functionality. I was never happy with the

[2020-05-10 21:56] teamwebhq opened #79 "Can't get found_rows"
I've got a select query with SQL_CALC_FOUND_ROWS in it, and then I'm following it with another query doing "select found_rows", but I'm not always getting the correct result.

In my test table, there are only 2 rows. But sometimes found_rows is returning 2, and sometimes it's returning 1.

I can assume this is because a different connection is being used. But I'm just following the Blog style exam

[2020-05-10 23:15] teamwebhq commented on #79
Ah, I see it now. It returns a reference to the connection it used when you do the query. So that way you can use that connection again to do another query like found_rows, and then it works.

Apologies, I looked at this for 2 hours before posting the issue, then spotted it 20 minutes after I did. Typical!

[2020-05-10 23:15] #79 closed

[2020-05-11 00:41] Grinnz commented on #79
More specifically, when you need to share a connection with several (blocking) queries, first retrieve the db object (`my $db = $mysql->db;`) and then use that same object for each of the following queries. Just don't hold onto that db object past that "transaction".

[2020-08-11 03:53] jhthorsen commented on #73
Going to close this issue, since it seems to have gone idle. I might consider a PR, if it includes additional tests and not too much complexity.

[2020-08-11 03:53] #73 closed

[2020-10-23 13:07] ggl commented on #64
I think it shouldn't require on SQL::Abstract at all. It could take a builder option at or after object creation which could specify which builder one wants to run as a code ref. Then we could use SQL::Abstract or SQL::Maker or something else and not have a hard dependency on SQL::Abstract. Btw, SQL::Maker is also easier to extend via plugins.

[2020-12-04 20:39] znestor opened #81 "mysql 8.0 crash related to the use of pubsub"
Please help to determine if the following recurrent crash on a recently updated mysql is related to Mojo::mysql pubsub function.

`2020-12-03T02:57:21.726396Z 0 [System] [MY-010931] [Server] /usr/sbin/mysqld: ready for connections. Version: '8.0.22'  socket: '/var/run/mysqld/mysqld.sock'  port: 3306  MySQL Community Server - GPL.`
`02:59:39 UTC - mysqld got signal 11 ;`
`Most likely, you have hit

[2020-12-07 01:04] jhthorsen commented on #81
I'm guessing there's something wrong with the trigger, since the "insert into .." looks very basic.

https://github.com/jhthorsen/mojo-mysql/blob/16f6c45d2d43dc1b1d31450d3f49bb82cb949cec/lib/Mojo/mysql/PubSub.pm#L295

The PubSub module is not directly supported, so because of that and limited time, I unfortunately can't look into it at the moment.
Commenting out the line you mentioned will complet

[2020-12-20 00:03] chorny opened #82 "cpan archive contains DBD::mysql"
including its repository.
See https://metacpan.org/source/JHTHORSEN/Mojo-mysql-1.20/local%2FDBD-mysql

[2020-12-20 00:19] Grinnz commented on #82
Since EUMM is the authoring tool here, the MANIFEST.SKIP probably needs to be improved.

[2020-12-22 02:39] jhthorsen commented on #82
Thanks for letting me know! 👍 This should be fixed in v1.22. I've also gone to PAUSE and deleted all my older uploads.

[2020-12-22 02:39] #82 closed

[2021-01-22 11:31] augensalat opened #83 "Mojo::mysql::Results::_expand() issues warnings on NULL columns."
For a table that contains columns with `NULL` values a Perl warnings is issued when `$results->expand(!0)`:
[code]

[2021-04-28 03:15] #83 closed

[2021-04-28 03:16] jhthorsen commented on #83
The reason this took so long is that the issue had no description on how to reproduce the issue.

This is however fixed now, since I found some spare time to investigate further.

[2021-06-17 02:18] jhthorsen commented on #64
I'll consider a PR, but closing this issue for now since it is very old.

[2021-06-17 02:18] #64 closed

[2021-06-17 04:08] jhthorsen commented on #81
I'm going to close this since the PubSub module is experimental, and no new information has been provided.

[2021-06-17 04:08] #81 closed

[2021-09-10 16:06] augensalat opened #84 "1.20, 1.22, 1.21, ...?"
Just noticed:
1.22 was released to CPAN on 2020-12-22, and 1.21 on 2021-04-28.
Certainly an accident, and I'm not sure if this might cause issues.

[2021-09-11 08:01] jhthorsen commented on #84
Wow. I can't really explain what happened there 😞
...but I'll release 1.23 soon.

[2021-09-11 08:01] #84 closed

[2021-10-04 13:18] akarelas opened #85 "Documentation misleads its readers that "FOR UPDATE SKIP LOCKED" is supported"
In https://metacpan.org/pod/SQL::Abstract::mysql#FOR

...it says:

[code]

However that syntax is not supported, neither in MySQL nor MariaDB.

[2021-10-04 21:31] jhthorsen commented on #85
I don’t understand. What’s this then? https://dev.mysql.com/doc/refman/8.0/en/innodb-locking-reads.html

[2021-10-04 21:34] akarelas commented on #85
Hmm... :-) That's something newer than what I was reading.
Closing.

[2021-10-04 21:34] #85 closed

[2021-10-05 20:34] akarelas opened #87 "Calling ->last_insert_id when using with MariaDB and DBD::MariaDB raises an exception"
It raises this exception:

[code]

[2021-10-05 22:53] jhthorsen commented on #87
This is fixed in #86.

[2021-10-21 10:17] saintserge opened #88 "Remove DBD::mysql as dependency"
Hi,
Is it possible to remove DBD::mysql from dependency? I use only DBD::MariaDB  and obviously it blocks me to install Mojo::mysql as it in requireds list?

Thanks.

[2021-10-25 00:18] jhthorsen commented on #88
How does that block you?

[2021-11-08 21:13] saintserge commented on #88
Thanks for the reply!
Not allowing my to install through cpanm/cpm as I do not have  DBD::Mysql on my system.

[2021-11-22 09:07] #88 closed

[2021-11-22 09:07] jhthorsen commented on #88
I hope this is fixed in the upcoming release.

[2021-11-22 09:12] jhthorsen commented on #88
Changed to either look for DBD::MariaDB or the environment variable `MOJO_MYSQL_PREFER_MARIADB=1`.

[2022-11-14 18:50] george-pmk opened #90 "Mojo::mysql + Mojo::Promise: code don't wait until finish requests"
Under Mojolicious even simple example from the documentation

won't wait until queries are finished
the code passes the control on and I don't get any messages

What can I do to wait for all requests to finish?

[2022-11-15 06:35] jhthorsen commented on #90
wait() doesn't do anything when the loop is already running.

https://docs.mojolicious.org/Mojo/Promise#wait

[2022-11-15 06:35] #90 closed